{% extends "base.html" %}
{% block content %}
<section class="hero  vh-100">
    <div class="container d-flex align-items-center h-75">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h1>The companion app for your book shelf</h1>
            <a href="{% url 'register' %}" class="w-100 w-md-50 w-lg-75 btn btn-dark">Create your account</a>
            <p>Already a member <a href="{% url 'login' %}">Sign in.</a></p>
        </div>
    </div>
</section>

<section class="block-1  vh-100">


    <div class="container d-flex align-items-center h-75">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h2 class="d-flex justify-content-center h-75">Meet the team</h2>
            <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4"> As trhee friends ..... Взрослая жизнь застала
                парней врасплох, школьные друзья
                давненько не виделись. Дэвид в поисках любого заработка, ведь жизнь с девушкой требует хороших денег.
                Вечные неудачи огорчают парня, который изредка выкуривает косячок марихуаны. Но однажды делая перерыв,
                он встречает кореша их школы Эфраима.
                Конечно же, нужно курнуть за встречу и пообщаться. Но покупая косяк, ребят кидают на деньги. Бывалый
                Эфраим решает дело, привычным образом, достав из багажника автомат. Шокированный Дэвид начал
                разузнавать, откуда такое добро у дружка. С эти пор они начинают заниматься прибыльными делами, продажей
                оружия.
                Достаток радовал парней до тех пор, пока они не попали на заявку, которая могла бы принести им кучу
                денег. Но для этого нужно найти человека с таким количеством товара.
            </div>

            <div class="col-12 d-flex justify-content-center">

                <img class="col-2" src="https://cs4.pikabu.ru/post_img/big/2015/10/09/6/1444379881_1880025276.jpg"
                     alt="">
                <h3>ksdljhgks</h3>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

